@model IEnumerable<ECommerceCore7.Models.Identity.ApplicationUser>

@{
    ViewData["Title"] = $"{ViewData["Title"]} {ViewData["ControllerPluralTitle"]}";
}
<h1><i class='@ViewData["Icon"]'></i> @ViewData["Title"]</h1>

@*<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i> ایجاد کاربر جدید</a>
</p>*@
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-dark text-center">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </th>
                <th>دستورات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)

                        @*@if (item.EmailConfirmed)
                        {
                            <i class="fa-solid fa-circle-check text-primary fa-2x"></i>
                        }
                        else
                        {
                            <i class="fa-regular fa-circle-check text-secondary fa-2x"></i>
                        }*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> ویرایش</a>
                        <a asp-action="ChangePassword" asp-route-id="@item.Id" class="btn btn-info"><i class="fa-solid fa-key-skeleton"></i> تغییر کلمه عبور</a>
                        @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i> حذف</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
