@model IEnumerable<ECommerceCore7.Models.Entities.PageGroup>
@{
    ViewData["Title"] = $"{ViewData["Title"]} {ViewData["ControllerPluralTitle"]}";
}
<h1><i class='@ViewData["Icon"]'></i> @ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-duotone fa-square-plus fa-2"></i> افزودن</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-dark text-center">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PageGroupTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PageGroupIcon)
                </th>
                <th>دستورات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageGroupTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageGroupIcon)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PageGroupID" class="btn btn-secondary">ویرایش</a>
                        <a asp-action="Details" asp-route-id="@item.PageGroupID" class="btn btn-info">جزئیات</a>
                        <a asp-action="Delete" asp-route-id="@item.PageGroupID" class="btn btn-danger">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
