@model IEnumerable<ECommerceCore7.Models.Entities.ProductImage>

@{
    var ProductID = ViewBag.ProductID;
    ViewData["Title"] = $"مدیریت تصاویر {ViewBag.ProductTitle}";
}

<h1><i class='@ViewData["Icon"]'></i> @ViewData["Title"]</h1>


<p>
    <a asp-action="Create" class="btn btn-primary" asp-route-id="@ProductID">افزودن</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-dark text-center">
            <tr>
                @* <th>
                @Html.DisplayNameFor(model => model.Product.ProductTitle)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ProductImageFilename)
                </th>
                <th>دستورات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @* <td>
                @Html.DisplayFor(modelItem => item.Product.ProductTitle)
                </td>*@
                    <td>
                        @*@Html.DisplayFor(modelItem => item.ProductImageFilename)*@
                        <img src="~/Uploads/Images/Products/@item.ProductImageFilename" style="width: 120px; height: 120px;" />
                    </td>

                    <td>
                        @*                <a asp-action="Edit" asp-route-id="@item.ProductImageID" class="btn btn-secondary">ویرایش</a>
                    <a asp-action="Details" asp-route-id="@item.ProductImageID" class="btn btn-info">جزئیات</a>*@
                        <a asp-action="Delete" asp-route-id="@item.ProductImageID" class="btn btn-danger">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
