@model ECommerceCore7.Models.Entities.ProductGroup

@{
    ViewData["Title"] = $"{ViewData["Title"]} {ViewData["ControllerSingularTitle"]}";
}
<h1><i class='@ViewData["Icon"]'></i> @ViewData["Title"]</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductGroupTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductGroupTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductGroupImageFilename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductGroupImageFilename)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductGroupID" class="btn btn-primary">ویرایش</a>
    <a asp-action="Index" class="btn btn-secondary">بازگشت به فهرست</a>
</div>
