@model ECommerceCore7.Models.Entities.Order

@{
    ViewData["Title"] = $"{ViewData["Title"]} {ViewData["ControllerSingularTitle"]}";
}
<h1><i class='@ViewData["Icon"]'></i> @ViewData["Title"]</h1>

<h3>آیا از حذف این @ViewData["ControllerSingularTitle"] مطمئن هستید؟</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinalized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFinalized)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderID" />
    <button type="submit" class="btn btn-danger">حذف</button>
        <a asp-action="Index" class="btn btn-secondary">بازگشت به فهرست</a>
    </form>
</div>
